*.largefileextension filter=lfs diff=lfs merge=lfs -text
src/main/resources/Oracle_JDK-22/lib/* filter=lfs diff=lfs merge=lfs -text
target/classes/Oracle_JDK-22/lib/* filter=lfs diff=lfs merge=lfs -text
